@charset 'utf-8';

html {
  font-family: "Noto Sans KR", sans-self;
  font-size: 14px;
}

body {
  overflow: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: white;
}

p {
  line-height: 1.6;
}
a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

.global-nav {
  height: 44px;
}
.local-nav {
  height: 56 px;
}

.local-nav-links,
.global-nav-links {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  height: 100%;
}

.global-nav-links {
  justify-content: space-between;
}

.local-nav-links .product-name {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: bold;
}

.local-nav-links a {
  font-size: 0.8rem;
}

.local-nav-links a:not(.product-name) {
  margin-left: 2em;
}
