@charset 'utf-8';

html {
  font-family: "Noto Sans KR", sans-self;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: white;
}

p {
  line-height: 1.6;
}
a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

.global-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}
.local-nav {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 56 px;
  padding: 0 1rem;
}

.local-nav-links,
.global-nav-links {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  height: 100%;
}

.global-nav-links {
  justify-content: space-between;
}

.local-nav-links .product-name {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: bold;
}

.local-nav-links a {
  font-size: 0.8rem;
}

.local-nav-links a:not(.product-name) {
  margin-left: 2em;
}

.scroll-section {
  border: 3px solid red;
  padding-top: 50vh;
}

#scroll-section-01 h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  font-size: 2.5rem;
  /* background: rgba(0, 0, 0, 0.3); */
  margin: 5px 0;
}

.main-message p {
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.main-message small {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.scroll-message .main-message {
  font-size: 3.5rem;
}

.description {
  font-size: 1.2rem;
  color: #888;
  margin: 0 1rem;
}

.description strong {
  float: left;
  margin-right: 0.2em;
  font-size: 3rem;
  color: rgb(29, 29, 31);
}

.desc-message {
  width: 50%;
  font-weight: bold;
}

.pin {
  width: 1px;
  height: 100px;
  background: rgb(29, 29, 31);
}

.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888;
}

.mid-message strong {
  color: rgb(29, 29, 31);
}

.canvas-caption {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  color: #888;
  font-size: 1.2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  background: darkorange;
}
.sticky-elem {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}
#show-scene-01 #scroll-section-01 .sticky-elem,
#show-scene-02 #scroll-section-02 .sticky-elem,
#show-scene-03 #scroll-section-03 .sticky-elem,
#show-scene-04 #scroll-section-04 .sticky-elem {
  display: block;
}
@media (min-width: 1024px) {
  #scroll-section-01 h1 {
    font-size: 9vw;
  }
  .main-message {
    font-size: 4vw;
  }
  .description {
    font-size: 2rem;
    max-width: 1000px;
    margin: 0 auto;
  }
  .description strong {
    font-size: 6rem;
  }
  #scroll-section-03 .main-message {
    font-size: 6vw;
  }
  .main-message small {
    font-size: 1.5vw;
  }
  .desc-message {
    width: 20%;
  }
  .mid-message {
    font-size: 4vw;
  }
  .cavas-caption {
    font-size: 2rem;
  }
}
